<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="./img/NewLogo.ico" type="image/x-icon">
    <title>MPK - Estabelecimentos</title>
    <link rel="stylesheet" href="./css/estalecimentos.css">
    <link rel="stylesheet" href="./css/busca-estabelecimentos.css">
    <link rel="stylesheet" href="./css/header.css">
    <link rel="stylesheet" href="./css/footer.css">
    <script src="https://kit.fontawesome.com/610deb5134.js" crossorigin="anonymous"></script>
</head>
<body>
	<%- include('partials/header') %>

	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">
					Detalhe do produto:
					<%= product.name %>
				</h2>
			</div>
		</div>
		<div class="product-detail">
			<div class="row">
				<div class="col-12 col-lg-8">
					<img src="/images/products/<%= product.image %>" alt="product image" class="product-detail-img">
					<p class="product-detail-description">
						<%= product.description %>
					</p>
				</div>
				<div class="col-12 col-lg-4">
					<article class="product-detail-info">
						<h2 class="product-detail-title">
							<%= product.name %>
						</h2>

						<% if(product.discount > 0) { %>
						<p class="product-detail-price small">
							<span><%= product.price %></span>
							/
							<strong><%= product.discount %>% OFF</strong>
						</p>
						<p class="product-detail-price">
							<%= product.finalPriceFormated %>
						</p>
						<% } else { %>
						<p class="product-detail-price">
							<%= product.price %>
						</p>
						<% } %>

						<ul class="actions-list">
							<li>
								<i class="fas fa-credit-card"></i>
								<p>Pagar em 12 parcelas sem juros</p>
							</li>
							<li>
								<i class="fas fa-store"></i>
								<p>Retirada gratuita nas instalações do vendedor</p>
							</li>
						</ul>

						<a href="#" class="buy-now-button">COMPRAR AGORA</a>
						<hr>

						<a href="/products/edit/¿?" class="action-button edit">EDITAR PRODUTO</a>
						<form action="/products/<%= product.id %>?_method=delete" method="POST"
							style="display: inline-flex">
							<button type="submit" class="action-button delete">APAGAR</button>
						</form>
					</article>
				</div>
			</div>
		</div>
	</div>

	<%- include('partials/footer') %>
</body>

</html>